[core]
    autocrlf = input
	pager = less -r
[user]
	name = Hiroyuki Anai
    email = pirosikick@gmail.com
[credential]
	helper = osxkeychain
[merge]
[alias]
    ci = commit
    cs = commit -s
    co = checkout
    b  = branch
    br = branch
    s = status
    st  = status
    d = diff
[github]
	user = pirosikick
[ghq]
    root = ~/src
