[core]
	autocrlf = input
[user]
	name = pirosikick
	email = pirosikick@gmail.com
[credential]
	helper = osxkeychain
[merge]
	ff = false
[alias]
	ci = commit
	co = checkout
	b = branch
	d = diff
	s = status
